In [1]:
# 建立 function 1
def say_hello():
    print("Hello World")

x = say_hello()
print(x)

Hello World
None

In [2]:
# 建立 function 2
def get_name():
    name = "Jarvis"
    return name

fun_name = get_name()
print(fun_name)

Jarvis

In [3]:
# 建立 function 3

def say_good_morning(name):
    return "Hello, "+name


print(say_good_morning('Jarvis'))
x = say_good_morning('Allen')
print(x)

Hello, Jarvis
Hello, Allen

In [4]:
# 建立 function 4
def get_greeting(greeting='Hello',name="Jarvis"):
    return f"{greeting}, {name}!"

greeting = get_greeting()
print(greeting)


greeting = get_greeting("Good Morning", "Amy")
print(greeting)

Hello, Jarvis!
Good Morning, Amy!

-----

In [5]:
# 改寫 Module2 practice

total = 1800
discount = 200

def discount():
    

    n = total // 2000
    print(n)

    total -= discount*n
    print(total)

In [6]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pymysql

connection = pymysql.connect(
    host="localhost",
    user="root",
    password="P@ssw0rd",
    port=3306

)

with connection.cursor() as cursor:
    cursor.execute("SHOW DATABASES;")
    result = cursor.fetchall()

print(result)

(('information_schema',), ('my_database',), ('my_titanic',), ('my_train_titanic',), ('mysql',), ('performance_schema',), ('sakila',), ('servdb',), ('social_media_app',), ('sys',), ('transaction_test',), ('world',))

In [8]:
def sql_query(database, sql):
    connection = pymysql.connect(
        host="localhost",
        user="root",
        password="P@ssw0rd",
        port=3306,
        database=database,
        cursorclass=pymysql.cursors.DictCursor
    )
    with connection.cursor() as cursor:
        cursor.execute(sql)
        result = cursor.fetchall()

    return result

database = sql_query(None, "SHOW DATABASES;")
print(database)

tables = sql_query("my_titanic", "SHOW TABLES;")
print(tables)

data = sql_query("my_titanic", "SELECT id, survived FROM full_passengers LIMIT 10")
print(data)

[{'Database': 'information_schema'}, {'Database': 'my_database'}, {'Database': 'my_titanic'}, {'Database': 'my_train_titanic'}, {'Database': 'mysql'}, {'Database': 'performance_schema'}, {'Database': 'sakila'}, {'Database': 'servdb'}, {'Database': 'social_media_app'}, {'Database': 'sys'}, {'Database': 'transaction_test'}, {'Database': 'world'}]
[{'Tables_in_my_titanic': 'full_passengers'}]
[{'id': 1, 'survived': Decimal('1.00')}, {'id': 2, 'survived': Decimal('1.00')}, {'id': 3, 'survived': Decimal('0.00')}, {'id': 4, 'survived': Decimal('0.00')}, {'id': 5, 'survived': Decimal('0.00')}, {'id': 6, 'survived': Decimal('1.00')}, {'id': 7, 'survived': Decimal('1.00')}, {'id': 8, 'survived': Decimal('0.00')}, {'id': 9, 'survived': Decimal('1.00')}, {'id': 10, 'survived': Decimal('0.00')}]

In [10]:
def test(*args, **kwargs):
    print(f"arg: {args}")
    print(f"kwargs : {kwargs}")
test(1, 2, 3 ,a = 100, b = 200)

arg: (1, 2, 3)
kwargs : {'a': 100, 'b': 200}

In [12]:
from pprint import pprint

data = sql_query("my_titanic", "SELECT * FROM full_passengers ")
pprint(data[0])

{'age': 29,
 'boat': '2',
 'body': None,
 'cabin': 'B5',
 'embarked': 'S',
 'fare': Decimal('211.34'),
 'homedest': 'St Louis, MO',
 'id': 1,
 'parch': 0,
 'pclass': Decimal('1.00'),
 'pname': 'Allen, Miss. Elisabeth Walton',
 'sex': 'female',
 'sibsp': 0,
 'survived': Decimal('1.00'),
 'ticket': '24160'}

In [13]:
male = 0
female = 0

for i in data:
    if i['sex'] == 'female':
        female += 1
    else:
        male += 1
print(female)
print(male)

466
843

In [ ]:
id = 0
female = 0

for i in data:
    if 'Leonard' in i['pname'].split(',')[-1] and i['sex'] == 'male':
        
        print(female)
        print(male)